[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:fsandel/libft.git
[submodule "lib/MLX42"]
	path = lib/MLX42
	url = git@github.com:codam-coding-college/MLX42.git
[submodule "lib/LeakSanitizer"]
	path = lib/LeakSanitizer
	url = git@github.com:mhahnFr/LeakSanitizer.git
